<!DOCTYPE html>
<html lang="en">

<head>
  <title>What's the word?</title>
  <link href="static/style.css" rel="stylesheet">
  <img src="https://bloximages.chicago2.vip.townnews.com/tribdem.com/content/tncms/assets/v3/editorial/3/83/38384be2-3ba5-11e8-adec-bf48bc62810f/5acadc92f3c7d.image.jpg?resize=400%2C357" alt="Bird">
</head>

  </div>

  <div class="content-section-a">
    <html>
    <head> 
      <title>  </title>
    </head>
    <body>
        <form method="post" action="/results"> 
         <label for="word"><h1>What is the word?</h1></label>
  <input type='text' name='word'>
  <input type='submit'>
 
</html>

  </div>